<%# # show sweet message we link to create company %>

    <main>
        <div class="card text-center" style="width: 80vw; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Welcome to Employee Review System</h5>
                <p class="card-text">We would like to welcome you to our employee review system. This system is designed
                    to
                    provide valuable feedback on your performance and help you grow in your role. With this system, you
                    will
                    have the ability to add, remove, update, and assign any other company person to review your
                    performance.
                    We believe that employee reviews are an essential part of professional development and a way to
                    ensure
                    that we are meeting our organizational goals. We encourage you to use this system to its fullest
                    potential and take advantage of the feedback provided by your peers and managers.</p>
                <a href="/create-company" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </main>