<%# # signin page (form) for employee / admin %>

    <main>

        <div class="card text-center" style="width: 25rem; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Sign In</h5>
                <p class="card-text">
                <form action="/signin" method="post">
                    <input type="email" class="form-control mb-3" name="email" placeholder="email" required>
                    <input type="password" class="form-control mb-3" name="password" placeholder="password" required>
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </form>
                </p>
            </div>
        </div>

    </main>